// Colors
$black-ter: #222;

// Sizes
$size-1: 0.0625rem;   // 1px
$size-2: 0.125rem;    // 2px
$size-3: 0.3125rem;    // 5px
$size-4: 0.625rem;    // 10px
$size-5: 0.75rem;     // 12px
$size-6: 0.875rem;    // 14px
$size-7: 1rem;        // 16px
$size-8: 1.25rem;     // 20px
$size-9: 1.5rem;      // 24px
$size-10: 1.875rem;    // 30px
$size-11: 2.25rem;    // 36px
$size-12: 2.5rem;      // 40px
$size-13: 3.438rem;   // 55px
$size-14: 5.313rem;   // 85px
$size-15: 6.25rem;    // 100px